
/* User register styles */
 
#register {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    animation: fadeInUp 0.8s ease-in-out;
}

#register h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
    font-family: 'Playfair Display', serif;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.submit-btn {
    background-color: #007BFF;
    color: #ffffff;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.additional-links {
  margin-top: 20px;
  display: flex;
  justify-content:flex-start; 
}

.additional-btn {
  background-color: #46c9c9;
  color: #fff;
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 5px;
  margin-right: 30px;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.additional-btn:hover {
  background-color: #e52e71;
}

/* Responsive Design */
@media (max-width: 600px) {
    #register {
        padding: 20px;
    }

    #register h2 {
        font-size: 1.8rem;
    }

    .submit-btn {
        font-size: 0.9rem;
    }
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


  
  